*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,html{
    height: 100vh;
}

.header{
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header h1{
    margin: 10px 0;
    font-size: 5.5vw;
}

.header .header-content{
    margin: 20px 0;
    display: flex;
    gap: 10px;
    align-content: center;
}

.content-head{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content-body >div{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.header-content input{
    border-radius: 15px;
    padding: 8px;
    height: 40px;
    
}
#player2{
    height: 40px;
}

#player2_input{
    display: none;
    height: 40px;
}
.header .header-items{
    display:flex;
    gap: 12px;

}
.start-btn{
    padding:5px 15px;
    margin: 10px 0;
    font-size: 4vw;
    border: 0;
    border-radius: 25px;
    background-color: fuchsia;
    color: white;
}


/* .restart-btn{
   
} */

.winnerMessage{
    display: none;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
}

.grid-box{
    /* display: grid; */
    width: 450px;
    height: 450px;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    /* grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr; */
    display: flex;
    display: none;
    flex-direction: column;
}


.grid-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-right: 1px solid blue;
    width: 150px;
    height: 150px;
    /* flex: 1; */
    background-color: aqua;
}

.grid-container > .grid-item:last-child{
    border-right: 0;
}

.game-option{
    width: 50px;
    height: 50px;
}

.winnerMsg{
    font-size: 3vw;
    font-weight: 900;
}